text {
  stroke: none;
  fill: currentColor;
}

text.arrow-label {
  font-size: 0.6em;
}

.highlight {
  color: var(--blue);
}
.highlight.leaf-node {
  color: var(--primary-colour);
}
.done {
  opacity: 0.5;
}

line {
  marker-end: url(#arrowhead);
}
.highlight line {
  marker-end: url(#arrowhead-blue);
}
