body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-colour: hsl(201, 98%, 39%);
  --background-colour: hsl(39, 25%, 6%);
  --blue: var(--primary-colour);
  --red: hsl(360, 100%, 45%);
  --yellow: hsl(42, 99%, 50%);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tilt Neon";
  font-style: normal;
  font-weight: 400;
  src: url("/public/tilt-neon-v10-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charlie Display";
  font-style: normal;
  font-weight: 400;
  src: url("/css/Charlie_Display-Light.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Charlie Display";
  font-style: normal;
  font-weight: 700;
  src: url("/css/Charlie_Display-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/public/raleway-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/public/raleway-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.notes {
  display: none;
}

.reveal ul.clear {
  margin: 0;
  padding: 0;
  list-style: none;
}

cite {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.6em;
}

section.text p {
  font-size: 1.8rem;
  font-family: serif;
  text-align: justify;
}

p.break {
  text-align: center;
}

button.reddit-menu {
  border-radius: 1000px;
}
button.reddit-menu.plain:hover {
  background: #cde2f4;
  color: black;
}

button.plain {
  border: none;
  text-shadow: none;
  background: none;
  box-shadow: none;
}
button.plain:hover,
button.plain:active,
button.plain:focus {
  box-shadow: none;
  text-shadow: none;
}
button.reddit {
  background: #dbeaf7;
  color: black;
  border-radius: 100px;
  font-size: 16.8px;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-family: inherit;
  font-weight: bold;
}
button.reddit:hover {
  background: #d0e4f5;
}
button.reddit.upvote:hover {
  color: #d8400a;
}
button.reddit.downvote:hover {
  color: #6d60fe;
}

.reveal ul.time-range {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 10px;
  background: hsl(205 50% 50% / 0.4);
  border-radius: 10px;
  justify-content: space-between;
}
.time-range li input {
  position: fixed;
  top: -10000%;
  width: 0;
  height: 0;
  overflow: hidden;
}
.time-range li label {
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
}
.time-range li input:checked + label {
  background: var(--yellow);
}
.time-range li label:hover {
  background: var(--blue);
}

@container time-range (width < 700px) {
  ul {
    flex-direction: column;
    width: max-content;
  }
  .time-range li label {
    padding-inline: 30px;
  }
}

.connections {
  height: 100%;
  display: flex;
  text-transform: uppercase;
}
.connections input {
  position: fixed;
  top: -100%;
  width: 0;
  height: 0;
  overflow: hidden;
}
.connections label {
  color: black;
  background: #efefe6;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.connections input:checked + label {
  background: #5a594e;
  color: white;
}

.modal {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "gadgets preview"
    "gadgets footer";
  width: 800px;
  border-radius: 3px;
  box-shadow: rgb(57, 66, 74) 0px 0px 0px 1px,
    rgba(3, 4, 4, 0.36) 0px 8px 12px 0px, rgba(3, 4, 4, 0.5) 0px 0px 1px 1px;
  background-color: #282e33;
  color: #b6c2cf;
  text-align: start;
  margin-inline: auto;
  font-family: "Charlie Display";
}
.modal .header {
  grid-area: header;
  padding: 24px;
  padding-block-end: 22px;
  font-size: 28px;
  font-weight: 700;
}
.modal .gadgets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-inline-end: 2px solid #a6c5e229;
  grid-area: gadgets;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
}
.modal .gadgets li {
  line-height: auto;
}
.modal .gadgets button {
  color: #9fadbc;
  width: 100%;
  border: 0;
  padding: 8px;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  text-align: start;
  position: relative;
  font-family: unset;
  font-weight: 700;
}
.modal .gadgets button:hover {
  color: #9fadbc;
  background-color: #a1bdd914;
}
.modal .gadgets button[aria-selected="true"] {
  background-color: #1c2b41;
  color: #579dff;
}
.modal .gadgets button[aria-selected="true"]::before {
  width: 4px;
  position: absolute;
  background: #579dff;
  border-radius: 0 4px 4px 0;
  content: "";
  inset-block-end: 12px;
  inset-block-start: 12px;
  inset-inline-start: 0;
}
.modal .gadget-preview {
  grid-area: preview;
  padding: 0 1pc;
  margin-block-end: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .gadget-preview img {
  border-radius: 0;
  height: 260px;
}
.modal .footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.modal .footer label {
  border-block-start: 2px solid #a6c5e229;
  padding-block-start: 8px;
  padding-block-end: 4px;
  color: #9fadbc;
  font-weight: 600;
  font-size: 12px;
}
.modal .footer label::after {
  content: "*";
  color: #fd9891;
}
.modal .footer select {
  background: #22272b;
  border: 2px solid #738496;
  border-radius: 3px;
  color: rgb(182, 194, 207);
  padding: 2px 6px;
  font-size: 14px;
  height: 30px;
}
.modal .footer .buttons {
  padding: 24px;
  padding-block-start: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.modal .footer button {
  display: inline-flex;
  align-items: baseline;
  border-width: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #00000000;
  line-height: 2.28571em;
  padding: 0 10px;
  border-radius: 3px;
  color: #b6c2cf;
  box-shadow: none;
  text-shadow: none;
  font-family: unset;
  font-weight: 700;
}
.modal .footer button:hover {
  background: #a1bdd914;
}
.modal .footer button.primary {
  background: #579dff;
  color: #1d2125;
}
.modal .footer button.primary:hover {
  background: #85b8ff;
}

.modal-highlights .hljs-tag:nth-child(3),
.modal-highlights .hljs-tag:nth-child(3) *,
.modal-highlights .hljs-tag:nth-child(8),
.modal-highlights .hljs-tag:nth-child(8) *,
.modal-highlights .hljs-tag:nth-child(9),
.modal-highlights .hljs-tag:nth-child(9) *,
.modal-highlights .hljs-tag:nth-child(5),
.modal-highlights .hljs-tag:nth-child(5) * {
  color: var(--blue);
}
.modal-highlights .hljs-tag:nth-child(3),
.modal-highlights .hljs-tag:nth-child(8),
.modal-highlights .hljs-tag:nth-child(9),
.modal-highlights .hljs-tag:nth-child(5) {
  color: var(--blue);
  background: hsl(205 50% 50% / 0.4);
}

.reveal code.html.has-highlights tr:not(.highlight-line) {
  opacity: 1;
}
.reveal code.html.has-highlights tr.highlight-line {
  color: var(--blue);
  background: hsl(205 50% 50% / 0.4);
}
