.reveal-viewport {
  background-color: var(--background-colour);
}

.reveal.slide {
  color: white;
  --r-heading-font: "Tilt Neon", serif;
  --r-heading-color: var(--primary-colour);
  --r-heading-text-transform: none;
}

.reveal.slide .inverse {
  --r-heading-color: var(--background-colour);
  color: var(--background-colour);
}

.slides > section[data-transition="slide-up"].future {
  transform: translateY(150%);
}

cite {
  display: block;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  bottom: 0;
}
cite.footnote {
  transform: translateY(150%);
}

.fragment.fade {
  visibility: visible;
  opacity: 1;
}
.fragment.fade.current-fragment {
  opacity: 0.4;
}
.fragment.strike.visible {
  opacity: 0.4;
}

pre.background tr {
  opacity: 0.4;
}

code.hljs table {
  background: inherit;
  width: 100%;
}

button {
  font-family: "Red Hat Display";
  background: var(--background-colour);
  color: var(--primary-colour);
  font-size: 20px;
  border: 3px solid var(--primary-colour);
  padding: 0.3em 0.5em;
  text-shadow: 0 0 3px #4ad59c77;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 1px 5px #4ad59c77;
  border-radius: 2px;
}
button:hover,
button:focus {
  outline: none;
  text-shadow: 0 0 8px #4ad59caa;
  box-shadow: 1px 1px 8px #4ad59caa;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}
input {
  --background-gradient: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 1) 10% 90%,
    transparent
  );
  background: var(--background-gradient);
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 1.25em;
  margin-top: 2px;
}
input:focus-visible,
.input-wrapper:focus-within {
  outline: none;
  border-block: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    hsl(155 62% 56%) 20% 80%,
    transparent
  );
  border-image-slice: 1;
}

input[pattern] + button,
input[pattern] + button + button {
  border: none;
  box-shadow: none;
  padding-block: 0.1em;
  line-height: 0.6;
  --background-gradient: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 1) 10% 90%,
    transparent
  );
  background: var(--background-gradient);
}
input[pattern]:focus-visible {
  outline: none;
}

ol.items {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 1em;
  gap: 0.25em;
  background: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 0.3) 10% 90%,
    transparent
  );
  padding: 0.25em;
}
ol.items button {
  border: none;
  text-shadow: none;
  box-shadow: none;
  color: white;
  width: 80px;
  height: 80px;
  background: hsl(0 0% 0% / 0.3);
  position: relative;
  border: 2px solid #4c4d3e;
}

.reveal blockquote {
  background: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 0.3) 10% 90%,
    transparent
  );
  padding-inline: 2em;
  border-block: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    hsl(155 62% 56%) 20% 80%,
    transparent
  );
  border-image-slice: 1;
}

.reveal .hljs:not(:first-child).fragment {
  top: 0.5em;
}
.fragment.fade.current-fragment pre,
pre.background {
  border-image: none;
  border-color: transparent;
}

code.hljs {
  padding-top: 0.5em;
  background: none;
}

.reveal pre {
  --outline-color: hsl(360 75% 60%);
  --shadow-colour: hsl(360 98% 39%/0.6);
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    inset 0 0 7px var(--outline-color), inset 0 0 10px var(--outline-color),
    inset 0 0 42px var(--shadow-colour);
  background: var(--background-colour);
  padding: 15px;
}

.tag {
  border: 4px solid;
  border-inline: 12px solid;
  border-color: hsl(155 62% 56%);
  padding-inline: 0.3em;
  font-size: 0.7em;
  font-family: sans-serif;
  border-radius: 5px;
  line-height: 1;
  background: hsl(155 11% 22%);
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.4;
}

pre:not(.background):has(~ pre.background) {
  max-height: 100%;
  box-shadow: 10px 0 10px 20px hsl(39, 25%, 6%);
}

.reveal h1 {
  color: hsl(201 50% 90%);
  --outline-color: hsl(201 75% 60%);
  --shadow-colour: hsl(201 98% 39%/0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}

.reveal h1.multi {
  color: hsl(42, 99%, 85%);
  --outline-color: hsl(42 75% 60%);
  --shadow-colour: hsl(42 98% 39%/0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}
.reveal h1.multi {
  text-shadow: none;
}
.reveal h1.multi span {
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}

.reveal h2 {
  color: hsl(42, 99%, 85%);
  --outline-color: hsl(42 75% 60%);
  --shadow-colour: hsl(42 98% 39%/0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}
.reveal h2.red,
.reveal pre.grid,
.reveal h2.grid,
.reveal h1.multi span.grid {
  color: hsl(360 50% 90%);
  --outline-color: hsl(360 75% 60%);
  --shadow-colour: hsl(360 98% 39%/0.6);
}
.reveal h2.blue,
.reveal pre.flex,
.flex {
  color: hsl(201 50% 90%);
  --outline-color: hsl(201 75% 60%);
  --shadow-colour: hsl(201 98% 39%/0.6);
}
.reveal pre {
  color: hsl(42, 99%, 85%);
  --outline-color: hsl(42 75% 60%);
  --shadow-colour: hsl(42 98% 39%/0.6);
}

.gadget-title button {
  border: none;
  background: transparent;
  box-shadow: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
}
.gadget-title button:hover {
  background: rgba(161, 189, 217, 0.08);
}

img {
  border-radius: 20px;
}
