.reveal-viewport {
  background-color: var(--background-colour);
}

.reveal.slide {
  color: white;
  --r-heading-font: "Tilt Neon", serif;
  --r-heading-color: var(--primary-colour);
  --r-heading-text-transform: none;
}

.reveal.slide .inverse {
  --r-heading-color: var(--background-colour);
  color: var(--background-colour);
}

.slides > section[data-transition="slide-up"].future {
  transform: translateY(150%);
}

cite {
  display: block;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  bottom: 0;
}
cite.footnote {
  transform: translateY(150%);
}

.fragment.fade {
  visibility: visible;
  opacity: 1;
}
.fragment.fade.current-fragment {
  opacity: 0.4;
}
.fragment.strike.visible {
  opacity: 0.4;
}

pre.background tr {
  opacity: 0.4;
}

code.hljs table {
  background: inherit;
  width: 100%;
}

button {
  font-family: "sans-serif";
  background: var(--background-colour);
  color: var(--primary-colour);
  font-size: 20px;
  border: 3px solid var(--primary-colour);
  padding: 0.3em 0.5em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 2px;
}
button:hover,
button:focus {
  outline: none;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}
input {
  --background-gradient: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 1) 10% 90%,
    transparent
  );
  background: var(--background-gradient);
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 1.25em;
  margin-top: 2px;
}
input:focus-visible,
.input-wrapper:focus-within {
  outline: none;
  border-block: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    hsl(155 62% 56%) 20% 80%,
    transparent
  );
  border-image-slice: 1;
}

input[pattern] + button,
input[pattern] + button + button {
  border: none;
  box-shadow: none;
  padding-block: 0.1em;
  line-height: 0.6;
  --background-gradient: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 1) 10% 90%,
    transparent
  );
  background: var(--background-gradient);
}
input[pattern]:focus-visible {
  outline: none;
}

ol.items {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 1em;
  gap: 0.25em;
  background: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 0.3) 10% 90%,
    transparent
  );
  padding: 0.25em;
}
ol.items button {
  border: none;
  text-shadow: none;
  box-shadow: none;
  color: white;
  width: 80px;
  height: 80px;
  background: hsl(0 0% 0% / 0.3);
  position: relative;
  border: 2px solid #4c4d3e;
}

.reveal blockquote {
  background: linear-gradient(
    to right,
    transparent,
    hsl(0 0% 0% / 0.3) 10% 90%,
    transparent
  );
  padding-inline: 2em;
  border-block: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    hsl(155 62% 56%) 20% 80%,
    transparent
  );
  border-image-slice: 1;
}

.reveal .hljs:not(:first-child).fragment {
  top: 0.5em;
}
.fragment.fade.current-fragment pre,
pre.background {
  border-image: none;
  border-color: transparent;
}

code.hljs {
  padding-top: 0.5em;
  background: none;
}

.neon-text {
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
  font-family: "Tilt Neon";
}
.neon-outline {
  --outline-color: hsl(360 75% 60%);
  --shadow-colour: hsl(360 98% 39%/0.6);
  filter: drop-shadow(0 0 7px var(--outline-color))
    drop-shadow(0 0 10px var(--outline-color))
    drop-shadow(0 0 42px var(--shadow-colour))
    drop-shadow(0 0 82px var(--shadow-colour));
}
.tiny-neon-text {
  text-shadow: 0 0 10px var(--outline-color), 0 0 42px var(--shadow-colour),
    0 0 82px var(--shadow-colour), 0 0 92px var(--shadow-colour),
    0 0 102px var(--shadow-colour);
  font-family: "Tilt Neon";
  font-size: 1.2em;
}

.reveal pre {
  --outline-color: hsl(360 75% 60%);
  --shadow-colour: hsl(360 98% 39%/0.6);
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    inset 0 0 7px var(--outline-color), inset 0 0 10px var(--outline-color),
    inset 0 0 42px var(--shadow-colour);
  background: var(--background-colour);
}
.reveal pre code {
  margin: 15px;
}

.reveal .hljs:not(:first-child).fragment {
  top: 0;
  left: 0;
  width: calc(100% - 30px);
}
td.hljs-ln-line.hljs-ln-numbers {
  display: none;
}
pre:has(code.hljs.has-highlights.visible)
  code:not(.has-highlights.current-fragment) {
  opacity: 0.1;
}
.reveal .fragment.neon:not(.current-fragment).visible {
  border-style: solid;
}

.tag {
  border: 4px solid;
  border-inline: 12px solid;
  border-color: hsl(155 62% 56%);
  padding-inline: 0.3em;
  font-size: 0.7em;
  font-family: sans-serif;
  border-radius: 5px;
  line-height: 1;
  background: hsl(155 11% 22%);
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.4;
}

pre:not(.background):has(~ pre.background) {
  max-height: 100%;
  box-shadow: 10px 0 10px 20px hsl(39, 25%, 6%);
}

.reveal h1 {
  color: hsl(140, 99%, 95%);
  --outline-color: hsl(140, 75%, 60%);
  --shadow-colour: hsla(140, 68%, 39%, 0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}

.reveal h1.multi {
  color: hsl(140, 99%, 95%);
  --outline-color: hsl(140, 75%, 60%);
  --shadow-colour: hsla(140, 68%, 39%, 0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}
.reveal h1.multi {
  text-shadow: none;
}
.reveal h1.multi span {
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}

.reveal h2 {
  color: hsl(140, 99%, 95%);
  --outline-color: hsl(140, 75%, 60%);
  --shadow-colour: hsla(140, 68%, 39%, 0.6);
  text-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    0 0 92px var(--shadow-colour), 0 0 102px var(--shadow-colour),
    0 0 151px var(--shadow-colour);
}
.reveal h2.red,
.reveal pre.grid,
.reveal h2.grid,
.reveal h1.multi span.grid,
.red {
  color: hsl(360 50% 90%);
  --outline-color: hsl(360 75% 60%);
  --shadow-colour: hsl(360 98% 39%/0.6);
}
.reveal h2.blue,
.reveal pre.flex,
.flex,
.neon-border.flex,
.blue {
  color: hsl(201 50% 90%);
  --outline-color: hsl(201 75% 60%);
  --shadow-colour: hsl(201 98% 39%/0.6);
}
.reveal pre,
.green {
  color: hsl(140, 99%, 95%);
  --outline-color: hsl(140, 75%, 60%);
  --shadow-colour: hsla(140, 68%, 39%, 0.6);
}
.neon-border {
  color: hsl(140, 99%, 95%);
  --outline-color: hsl(140, 75%, 60%);
  --shadow-colour: hsla(140, 68%, 39%, 0.6);
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    inset 0 0 7px var(--outline-color);
  background: var(--background-colour);
  padding: 15px;
}

.gadget-title button {
  border: none;
  background: transparent;
  box-shadow: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
}
.gadget-title button:hover {
  background: rgba(161, 189, 217, 0.08);
}

img {
  border-radius: 20px;
}

.reveal .fragment.neon:not(.current-fragment),
.reveal pre.neon.unlit {
  visibility: visible;
  opacity: 1;
  box-shadow: none;
  border-color: hsl(0 0% 100% / 0.1);
  border-style: ridge;
}
.reveal .fragment.neon.current-fragment,
.reveal .fragment.neon.visible:has(code.has-highlights) {
  box-shadow: 0 0 7px var(--outline-color), 0 0 10px var(--outline-color),
    0 0 42px var(--shadow-colour), 0 0 82px var(--shadow-colour),
    inset 0 0 7px var(--outline-color);
  border-color: inherit;
}

.flex-box {
  height: 50px;
  border: 2px dashed;
}
.linebox-container {
  border: 4px solid;
  padding: 10px;
}
.linebox-container .flex {
  display: flex;
  gap: 2px;
  align-items: center;
}
.linebox-container .ravelry-tag {
  margin-block: 5px;
}

.linebox-container.grid {
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: 100%;
}
.flexbox-container {
  display: flex;
  gap: 3px;
}
.grid-container > div {
  display: flex;
  padding: 5px;
}
.grid-container > div:not(:nth-child(3n)) {
  border-inline-end: 2px dashed;
}
.grid-container > div:not(:nth-last-child(-n + 3)) {
  border-block-end: 2px dashed;
}
.grid-container .element,
.flexbox-container .element {
  background-color: var(--primary-colour);
  border: 2px outset;
  box-shadow: inset -2px -2px black;
  border-radius: 5px;
}
.grid-container .element {
  width: 100%;
  height: 100%;
}
.grid-container .element.overflower {
  width: 200%;
  background-color: var(--red);
  flex-shrink: 0;
  box-shadow: inset -2px -2px black, 2px 2px 8px hsla(0, 83%, 40%, 0.5);
}
.grid-container .element.overflowee {
  background-color: var(--yellow);
}
.flexbox-container .element {
  height: 33%;
  flex-shrink: 0;
  transition: all 1s;
}
.flexbox-container .element:nth-child(1) {
  width: 10%;
}
.flexbox-container .element:nth-child(3) {
  width: 20%;
}
.flexbox-container .element:nth-child(4) {
  width: 15%;
}
.flexbox-container .element .stretcher {
  width: 200px;
}
.flexbox-container .element .stretcher.visible {
  width: 290px;
}
.flexbox-container .element:has(.stretcher.visible) {
  background-color: var(--red);
}
.flexbox-container .element:has(.stretcher.visible) ~ .element:last-child {
  background-color: var(--yellow);
}

.css .hljs-selector-pseudo {
  color: inherit;
}
